{% extends "layout.html" %}
{% block content %}

			<!-- Error Page -->
			<div class="error-page container-fluid">
				<!-- Container -->
				<div class="container">
					<div class="error-code">
						<span>4<img src="images/404.png" alt="404">4</span>
					</div>
					<div class="error-content">
						<p><span>Oops!</span>  Page not found</p> 
						<a href="#" title="Back to home">Back to home</a>
					</div>
				</div><!-- Container /- -->
			</div><!-- Error Page /- -->
		</main>
		
{% endblock content %}
